@model WebSource.Models.user
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">Manage User</div>
    <div class="card-body">
        <form action="SaveUserEdit" method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="exampleInputName">User ID</label>
                        <input name="user_id" class="form-control" readonly id="exampleInputName" type="text" aria-describedby="nameHelp" value="@Model.user_id">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputLastName">User Name</label>
                        <input name="username" class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" value="@Model.username">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="sel2">Shop</label>
                <select class="form-control" id="sel2" name="shop">
                    <option selected> @Model.shop_id - @Model.shop.shope_name</option> 
                    @foreach (var shop in ViewBag.shops)
                    {
                        <option>@shop.shop_id - @shop.shope_name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="sel1">Role</label>
                <select class="form-control" id="sel1" name="role">
                    <option selected> @Model.role_id</option> 
                    <option> @ViewBag.role</option> 
                </select>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" class="form-control" id="exampleInputPassword1" type="password" value="@Model.password">
                    </div>
                </div>
            </div>
            <input class="btn btn-primary btn-block" type="submit"/>
        </form>
    </div>
</div>
